
<!--page footer-->
<footer id="main-footer" class="site-footer clearfix">
    <div class="container">
        <div class="row">
            
            <!--about widget-->
            <div class="col-md-6 col-sm-6">
                <section class="widget animated fadeInLeft">
                    <h3 class="title">World Medical Tourism Alliance</h3>
                    <div class="textwidget">
                        <p>We are the best “Medical Tourism Facilitator” to deliver excellent of care and ensuring the continuity of care for patients (customers) and provide professional consultation services and personalized assistance , best value Medical tourism packages in matching needs, all at affordable prices and that match with preference & life style across Thailand & Asia pacific.</p>
                    </div>
                </section>
            </div>

            <!--recent Contact-->
            <div class="col-md-6 col-sm-6">
                <section class="widget animated fadeInLeft">
                    <h3 class="title">Contact</h3>
                    <ul id="twitter_update_list">
                        <li>Call us +66 945149294</li>
                        <li>Email: happiness@wmtamedicaltourism.com</li>
                        <li>Phone No.: +66 945149294</li>
                        <li>Line official ID: @wmta</li>
                        <li>
                            Fanpage: World Medical Tourism Alliance
                        </li>
                    </ul>
                </section>
            </div>
         
        </div>

        <div class="footer-bottom animated fadeInDown clearfix">
            <div class="row">
                <div class="col-sm-7">
                    <p>&copy; Copyright 2021. All Rights Reserved by World Medical Tourism Alliance</p>
                </div>
                <!--footer social icons-->
                <div class="col-sm-5 clearfix">
                    <ul class="footer-social-nav">
                        <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <!-- <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a target="_blank" href="skype:skypeusername?add"><i class="fa fa-skype"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-rss"></i></a></li> -->
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>

<a href="#top" id="scroll-top"></a>