<br />
<div class="content">
    <div class="container cardcus">
        <div class="card">
            <div class="card-body col-lg-12">
                <div class="row mx-auto">
                    <h3 class="text-center">All Concierge Services</h3>
                </div>

                <div class="row mx-auto">
                    <div class="col-lg-4">
                        <div id="isotope-container" class="clearfix">
                            <!--column start-->
                            <div class="isotope-item advanced-technology free-facilities">
                                <article class="common clearfix hentry">
                                    <figure class="overlay-effect">
                                        <a>
                                            <img src="assets/images/temp-images/gallery-11.jpg" alt="gallery-2" />
                                        </a>
                                        <a class="overlay" href="assets/images/temp-images/gallery-11.jpg"
                                            title="Healthcare Resources"></a>
                                    </figure>
                                </article>
                            </div>
                            <!--column end-->
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div id="isotope-container" class="clearfix">
                            <!--column start-->
                            <div class="isotope-item advanced-technology free-facilities">
                                <article class="common clearfix hentry">
                                    <figure class="overlay-effect">
                                        <a>
                                            <img src="assets/images/temp-images/gallery-7.jpg" alt="gallery-2" />
                                        </a>
                                        <a class="overlay" href="assets/images/temp-images/gallery-7.jpg"
                                            title="Healthcare Resources"></a>
                                    </figure>
                                </article>
                            </div>
                            <!--column end-->
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div id="isotope-container" class="clearfix">
                            <!--column start-->
                            <div class="isotope-item advanced-technology free-facilities">
                                <article class="common clearfix hentry">
                                    <figure class="overlay-effect">
                                        <a>
                                            <img src="assets/images/temp-images/gallery-5.jpg" alt="gallery-2" />
                                        </a>
                                        <a class="overlay" href="assets/images/temp-images/gallery-5.jpg"
                                            title="Healthcare Resources"></a>
                                    </figure>
                                </article>
                            </div>
                            <!--column end-->
                        </div>
                    </div>
                </div>
                <br />

                <div class="row mx-auto">
                    <div class="col-lg-3">
                        <label>Personal Assistant</label>
                        <select name="pa" id="pa" class="form-control" aria-required="true" data-live-search="true">
                            <option value="">--- Choose ---</option>
                            <option value="Medical Travel Manager">Medical Travel Manager</option>
                            <option value="Wellness Travel Manager ">Wellness Travel Manager </option>
                            <option value="Caregiver for Elder">Caregiver for Elder</option>
                        </select>
                    </div>

                    <div class="col-lg-2">
                        <label>Province</label>
                        <select name="province" id="province" class="form-control" aria-required="true"
                            data-live-search="true">
                            <option value="">--- Choose ---</option>
                            <option value="All">All</option>
                            <option value="Bangkok">Bangkok</option>
                            <option value="Chiangmai">Chiangmai</option>
                            <option value="Phuket">Phuket</option>
                        </select>
                    </div>

                    <div class="col-lg-3">
                        <label>Arrival</label>
                        <input class="form-control" type="date" id="Arrival" />
                    </div>

                    <div class="col-lg-3">
                        <label>Departure</label>
                        <input class="form-control" type="date" id="Departure" />
                    </div>

                    <div class="col-lg-1">
                        <button type="button" class="btn btn-info btn-sm" style="margin-top: 2.5rem;"> Search</button>
                    </div>
                </div>

                <div class="row mx-auto">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>

                <div class="row mx-auto">
                    <section class="single-feature text-center col-sm-4">
                        <!-- <img src="assets/images/temp-images/1st-big-feature.png" alt="Special Care Unit"> -->
                        <a href="/pages/about-us">
                            <div class="feature-border">
                                <i class="fa fa-phone" style="font-size: 40px;"></i>
                            </div>
                            <h5>Call to make an appointment</h5>
                        </a>
                    </section>
                    <section class="single-feature text-center col-sm-4">
                        <a href="/concierge-service/enquiry-form">
                            <div class="feature-border">
                                <i class="fa fa-comments" style="font-size: 40px;"></i>
                            </div>
                            <h5>Ask for information</h5>
                        </a>
                    </section>
                    <section class="single-feature text-center col-sm-4">
                        <a href="/pages/contact-us">
                            <div class="feature-border">
                                <i class="fa fa-calendar" style="font-size: 40px;"></i>
                            </div>
                            <h5>Make an appointment</h5>
                        </a>
                    </section>
                </div>


            </div>
        </div>
    </div>