<!--slider-->
<div class="home-slider clearfix">
    <div class="flexslider loading">
        <ul class="slides">
            <!--slide start-->
            <li>
                <img src="assets/images/temp-images/slide-one.jpg" alt="Medical Services That You Can Trust"/>
                <div class="content-wrapper clearfix">
                    <div class="container">
                        <div class="slide-content clearfix ">
                            <h1>Medical Services <span>That You Can Trust</span></h1>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonummy nibh euismod.</p>
                            <a class="slider-button" href="doctors-three-columns.html">Read More</a>
                        </div>
                    </div>
                </div>
            </li>
            <!--slide end-->

            <!--slide start-->
            <li>
                <img src="assets/images/temp-images/slide-two.jpg"  alt="We Care for You"/>
                <div class="content-wrapper clearfix">
                    <div class="container">
                        <div class="slide-content clearfix">
                            <h1>We <span>Care</span> for <span>You</span></h1>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <a class="slider-button" href="doctors-three-columns.html">Read More</a>
                        </div>
                    </div>
                </div>
            </li>
            <!--slide end-->
        </ul>
    </div>

    <!--appointment form-->
    <div class="appointment clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6  ">
                    <span class="btn make-appoint">Make an Appointment <i class="fa fa-caret-down"></i></span>
                </div>
            </div>
            <div class="clearfix">
                <div class="appointment-form clearfix animated">
                    <form class="clearfix" id="appointment_form_one" action="appointment_form_handler.php" method="post" >
                        <div class="row">
                            <div class="col-md-3 col-sm-6 common">
                                <input type="text" name="name" id="app-name" class="required" placeholder="Name" />
                            </div>
                            <div class="col-md-3 col-sm-6 common">
                                <input type="text" name="number" id="app-number" class="required number" placeholder="Phone Number"/>
                            </div>
                            <div class="col-md-3 col-sm-6 common">
                                <input type="email" name="email" id="app-email" class="required email" placeholder="Email Address"/>
                            </div>
                            <div class="col-md-3 col-sm-6 common">
                                <input type="text" name="date" id="datepicker" class="required" placeholder="Appointment Date"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-11 common">
                                <input type="text" name="message" id="app-message" class="required" placeholder="Message" />
                            </div>
                            <div class="col-sm-1 common">
                                <input type="submit" name="Submit" class="btn form-submit-btn" value="SEND"/>
                            </div>
                        </div>

                        <img src="assets/images/white-loader.gif" class="ajax-loader" id="appointment-loader" alt="Loading...">
                        <div id="response-container"></div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--appointment form end-->
</div>

<!--general services-->
<div class="features-var-two clearfix">
    <div class="container">
        <div class="slogan-section clearfix">
            <h2><span>Health and Medical</span> WordPress Theme</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
        <div class="row">
            <section class="single-feature text-center clearfix col-sm-4">
                <img src="assets/images/temp-images/1st-big-feature.png" alt="Special Care Unit">
                <h3>Special Care Unit</h3>
                <div class="feature-border"></div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </section>
            <section class="single-feature text-center clearfix col-sm-4">
                <img src="assets/images/temp-images/2nd-big-feature.png" alt="Caring Nursing Staff">
                <h3>Caring Nursing Staff</h3>
                <div class="feature-border"></div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </section>
            <section class="single-feature text-center clearfix col-sm-4">
                <img src="assets/images/temp-images/3rd-big-feature.png" alt="Advanced Medical Equipment">
                <h3>Advanced Medical Equipment</h3>
                <div class="feature-border"></div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </section>
        </div>
    </div>
</div>
<!--general services end-->

<div class="gallery-single-wrapper clearfix">
    <article class="gallery-single clearfix hentry">
        <div class="container">
         <div class="clearfix"></div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="gallery-single-post clearfix">
                        <div class="clearfix" id="slider">
                            <!--slider-->
                            <ul class="slides">
                                <li><a href="assets/images/temp-images/slide-one.jpg" title=""><img src="assets/images/temp-images/slide-one.jpg" alt="gallery-1"></a></li>
                                <li><a href="assets/images/temp-images/slide-one.jpg" title=""><img src="assets/images/temp-images/slide-one.jpg" alt="gallery-3"></a></li>
                                <li><a href="assets/images/temp-images/slide-one.jpg" title=""><img src="assets/images/temp-images/slide-one.jpg" alt="gallery-4"></a></li>
                                <li><a href="assets/images/temp-images/slide-one.jpg" title=""><img src="assets/images/temp-images/slide-one.jpg" alt="gallery-5"></a></li>     
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <!--thumbnail carousel for slider-->
                            <ul class="slides">
                                <li><img src="assets/images/temp-images/slide-one.jpg" alt="gallery-1"></li>
                                <li><img src="assets/images/temp-images/slide-one.jpg" alt="gallery-3"></li>
                                <li><img src="assets/images/temp-images/slide-one.jpg" alt="gallery-4"></li>
                                <li><img src="assets/images/temp-images/slide-one.jpg" alt="gallery-5"></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <!--gallery related items-->
    <div class="container">
        <div class="clearfix">
            <div class="slogan-section text-center clearfix">
                <h1>Wellness Hotels & Resorts</h1>
                <h2>Health Resorts & Medical Spas</h2>
                <p>Choose your favorite Wellness, Health resorts and Medical Spas that match with your preference & life style
                    Beyond this, We have more than 122 Alternative State Quarantine (ASQ) or Alternative Local Quarantine (ALQ) Hospital, Hotel , 
                    Wellness & golf Quarantine around Thailand that have been approved by Thailand’s Ministry of Public Health and the Ministry of Defense.
                    Also, we have service providers who achieves GHA's COVID-19 Certification of Conformance for Medical Travel Program.</p>
            </div>
        </div>
    </div>
    <div class="related-gallery-items container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 ">

            </div>
          
            <div class="visible-sm clearfix"></div>
        </div>
    </div>
</div>

<!--blog posts section-->
<div class="home-blog blog-var-two clearfix">
    <div class="container">
        <div class="slogan-section animated fadeInUp clearfix">
            <h2>Latest News from <span>Health and Medical</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <article class="common-blog-post animated fadeInRight clearfix">
                    <figure>
                        <a href="image-post-format.html" title="Image Post Format">
                            <img src="assets/images/temp-images/news-2-732x447.jpg"  alt="news-2" />
                        </a>
                    </figure>
                    <div class="text-content clearfix">
                        <h5><a href="image-post-format.html">Image Post Format</a></h5>
                        <div class="entry-meta">
                            <time class="entry-time updated" datetime="2014-05-10T11:07:36+00:00">May <strong>10</strong></time>
                            , by <a href="#" title="Posts by John Doe">John Doe</a>
                        </div>
                        <div class="for-border"></div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat&hellip; </p>
                    </div>
                </article>
                <a class="read-more" href="image-post-format.html">Read More</a>
            </div>

            <div class="col-md-4">
                <article class="common-blog-post animated fadeInRight clearfix">
                    <div class="gallery gallery-slider clearfix loading">
                        <ul class="slides">
                            <li>
                                <a href="assets/images/temp-images/gallery-1.jpg" title="" >
                                    <img src="assets/images/temp-images/gallery-1.jpg" alt="gallery-1" />
                                </a>
                            </li>
                            <li>
                                <a href="assets/images/temp-images/gallery-2.jpg" title="" >
                                    <img src="assets/images/temp-images/gallery-2.jpg" alt="gallery-2" />
                                </a>
                            </li>
                            <li>
                                <a href="assets/images/temp-images/gallery-3.jpg" title="" >
                                    <img src="assets/images/temp-images/gallery-3.jpg" alt="gallery-3" />
                                </a>
                            </li>
                            <li>
                                <a href="assets/images/temp-images/gallery-2.jpg" title="" >
                                    <img src="assets/images/temp-images/gallery-2.jpg" alt="gallery-4" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="text-content clearfix">
                        <h5><a href="gallery-post-format.html">Gallery Post Format</a></h5>
                        <div class="entry-meta">
                            <time class="entry-time updated" datetime="2014-05-10T11:07:36+00:00">May <strong>10</strong></time>
                            , by <a href="#" title="Posts by John Doe">John Doe</a>
                        </div>
                        <div class="for-border"></div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat&hellip; </p>
                    </div>
                </article>

                <a class="read-more" href="gallery-post-format.html">Read More</a>
            </div>

            <div class="col-md-4">
                <article class="common-blog-post animated fadeInRight clearfix">
                    <div class="video clearfix">
                        <div class="video-wrapper clearfix">
                            <iframe src="//player.vimeo.com/video/75594702?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="text-content clearfix">
                        <h5><a href="video-post-format.html">The Hero In All Of Us</a></h5>
                        <div class="entry-meta">
                            <time class="entry-time updated" datetime="2014-05-10T11:07:36+00:00">May <strong>10</strong></time>
                            , by <a href="#" title="Posts by John Doe">John Doe</a>
                        </div>
                        <div class="for-border"></div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat&hellip; </p>
                    </div>
                </article>
                <a class="read-more" href="video-post-format.html">Read More</a>
            </div>
        </div>

    </div>
</div>
<!--blog posts section end-->


