<div class="gallery-page clearfix">
    <div class="container text-center">
        <h3>Medical Treatment</h3>

    </div>

    <div class="container">
        <h4>Disease Package</h4>
        <hr />
    </div>

    <div class="container isotope-wrapper text-center">
        <div class="row">
            <div id="isotope-container" class="clearfix">
                <!--column start-->
                <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-4 ">
                    <article class="common clearfix hentry ">
                        <figure class="overlay-effect">
                            <a>
                                <img src="assets/images/temp-images/gallery-11.jpg" alt="gallery-3" />
                            </a>
                            <a class="overlay" href="assets/images/temp-images/gallery-11.jpg"
                                title="Health Check-Up"></a>
                        </figure>
                        <div class="content clearfix">
                            <h4>Health Check-Up</h4>
                        </div>
                    </article>
                </div>
                <!--column end-->

                <!--column start-->
                <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-4 ">
                    <article class="common clearfix hentry ">
                        <figure class="overlay-effect">
                            <a>
                                <img src="assets/images/temp-images/gallery-5.jpg" alt="gallery-3" />
                            </a>
                            <a class="overlay" href="assets/images/temp-images/gallery-5.jpg"
                                title="Vaccination"></a>
                        </figure>
                        <div class="content clearfix">
                            <h4>Vaccination</h4>
                        </div>
                    </article>
                </div>
                <!--column end-->

                <!--column start-->
                <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-4 ">
                    <article class="common clearfix hentry ">
                        <figure class="overlay-effect">
                            <a>
                                <img src="assets/images/temp-images/gallery-7.jpg" alt="gallery-3" />
                            </a>
                            <a class="overlay" href="assets/images/temp-images/gallery-7.jpg"
                                title="Orthopedic Surgery"></a>
                        </figure>
                        <div class="content clearfix">
                            <h4>Orthopedic Surgery</h4>
                        </div>
                    </article>
                </div>
                <!--column end-->

                <!--column start-->
                <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-4 ">
                    <article class="common clearfix hentry ">
                        <figure class="overlay-effect">
                            <a>
                                <img src="assets/images/temp-images/gallery-41.jpg" alt="gallery-3" />
                            </a>
                            <a class="overlay" href="assets/images/temp-images/gallery-41.jpg"
                                title="Sport Medicine & Physical Therapy"></a>
                        </figure>
                        <div class="content">
                            <h4>Sport Medicine & Physical Therapy</h4>
                        </div>
                    </article>
                </div>
                <!--column end-->
            </div>

        </div>
    </div>

    <div class="container">
        <h4>Specialized Disease (Non Package)</h4>
        <hr />
    </div>
    
    <div class="container isotope-wrapper text-center">
        <div class="row">
            <div id="isotope-container" class="clearfix">
                <!--column start-->
                <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-4 ">
                    <article class="common clearfix hentry ">
                        <figure class="overlay-effect">
                            <a>
                                <img src="assets/images/temp-images/gallery-11.jpg" alt="gallery-4" />
                            </a>
                            <a class="overlay" href="assets/images/temp-images/gallery-11.jpg"
                                title="Cardiopathy"></a>
                        </figure>
                        <div class="content clearfix">
                            <h4>Cardiopathy</h4>
                        </div>
                    </article>
                </div>
                <!--column end-->

                <!--column start-->
                <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-4 ">
                    <article class="common clearfix hentry ">
                        <figure class="overlay-effect">
                            <a>
                                <img src="assets/images/temp-images/gallery-5.jpg" alt="gallery-4" />
                            </a>
                            <a class="overlay" href="assets/images/temp-images/gallery-5.jpg"
                                title="Cardiopathy"></a>
                        </figure>
                        <div class="content clearfix">
                            <h4>Cardiopathy</h4>
                        </div>
                    </article>
                </div>
                <!--column end-->

                <!--column start-->
                <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-4 ">
                    <article class="common clearfix hentry ">
                        <figure class="overlay-effect">
                            <a>
                                <img src="assets/images/temp-images/gallery-7.jpg" alt="gallery-4" />
                            </a>
                            <a class="overlay" href="assets/images/temp-images/gallery-7.jpg"
                                title="Cancer"></a>
                        </figure>
                        <div class="content clearfix">
                            <h4>Cancer</h4>
                        </div>
                    </article>
                </div>
                <!--column end-->

                <!--column start-->
                <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-4 ">
                    <article class="common clearfix hentry ">
                        <figure class="overlay-effect">
                            <a>
                                <img src="assets/images/temp-images/gallery-31.jpg" alt="gallery-4" />
                            </a>
                            <a class="overlay" href="assets/images/temp-images/gallery-31.jpg"
                                title="Orthopedic Surgery"></a>
                        </figure>
                        <div class="content">
                            <h4>Orthopedic Surgery</h4>
                        </div>
                    </article>
                </div>
                <!--column end-->
            </div>

        </div>
    </div>

</div>